.row {
	display: flex;
	flex-wrap: wrap;
	margin-right: 0px !important;
	margin-left: 0px !important;
}
.App{
   
	
}
.shadoMask {
	background: rgba(44, 44, 44, 0.57);
	padding-bottom: 265px;
}
.backGround{
	background-image: url('./Image/Rectangle\ 1.png');
    background-size: cover;
	background-repeat: no-repeat;
	
}
